$primary: #67d09f;
$primary-o90: #67d09fee;
$primary-o75: #67d09fdd;
$primary-o50: #67d09f88;
$primary-light: #8bffc6;
$primary-dark: #00c75c;
$white: #fff;
$background: #ffffff;
$dark-gray: #363836;
$light-gray: #f5fcf5;
