@import "../styles/colors";

.slide-form {
  label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
    font-weight: bold;
  }

  select {
    padding: 10px;
    border-radius: 4px;
    border: 1px gray solid;
  }
}
