<div class="campaign-form">

  <span class="form-title">Create new campaign</span>

  <div class="form-body">

    <div class="form-item">
      <label>
        name:
        <input type="text" [formControl]="name">
      </label>
    </div>

    <div class="form-item">
      <label>
        radius:
        <input type="text" [formControl]="radius">
      </label>
    </div>

    <div class="form-item">
      <label>
        starting bid:
        <input type="text" [formControl]="startingBid">
      </label>
    </div>

    <div class="form-item">
      <label>
        fund:
        <input type="text" [formControl]="fund">
      </label>
    </div>

    <div class="form-item">
      <label>
        town:
        <input type="text" [formControl]="town">
      </label>
    </div>

  </div>

</div>
