@import "../styles/mixins";
@import "../styles/colors";

.campaign-item {
  width: min(600px, 80vh);
  max-width: min(95vh, 600px);
  position: relative;

  .campaign-header {
    background: linear-gradient(90deg, $primary-o75 0%, rgba(255, 255, 255, 0));
    height: 4rem;
    @include flex-center;
    justify-content: start;
    padding-left: 2rem;
    font-size: x-large;
  }

  .content {
    @include display-flex(20px, row);
    padding: 2rem;
    justify-content: space-between;

    .details {
      @include display-flex(20px, column);
      color: $dark-gray;

      .label {
        font-weight: bold;
      }

      span {
        margin-left: 1rem;
      }

      .more-button {
        color: $primary;
        font-weight: bolder;
        text-align: center;
      }
    }
  }

  .controls {
    top: 0;
    right: 0;
  }
}
